
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Registrarse</title>
	 <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% from "macro.html" import show_form %}
</head>
<body>
   <!-- sweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <!-- Generamos una nueva variable de messages con sweetalert2 -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <script>
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                text: "Contraseña o Usuario no valido!",
                                showConfirmButton: false,
                                timer: 5000
                            })
                        </script>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith  %}
<div class="signup-form">
    <form method="POST">
		<h2>Iniciar Sesion</h2>
		<p>Completa tus datos para iniciar sesion!</p>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				 {{show_form(user.username, class="form-control")}}
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
				{{show_form(user.password, class="form-control")}}
        </div>
		 </div>
		<div class="form-group">
            <center><button type="submit" class="btn btn-primary btn-lg">Iniciar Sesion</button></center>
        </div>

          <div class="card rounded-3">
     <div class="text-center">¿No tienes cuenta? <a href="/registro">Regístrate</a></div>
	</div>
  </form>
</div>
</body>
</html>